@import "../../styles/globals.module.scss";

.social-button {
	border-radius: $border-radius-8;
	width: $spacing-48;
	height: $spacing-48;
	border: 1px solid $carbon-400;
	display: flex;
	align-items: center;
	justify-content: center;

	i {
		color: $carbon-800;
		font-size: $spacing-24;
	}
}
