@import "../../styles/globals.module.scss";

.social-button {
	border-radius: $border-radius-8;
	width: $spacing-48;
	height: $spacing-48;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid $carbon-400 !important;
	transition: .3s ease all;

	i {
		font-size: $spacing-24;
	}
}
