---
import 'bootstrap-icons/font/bootstrap-icons.css';
import type { ISocialButton } from '../../interfaces';
import styles from './social-button.module.scss';

const { link, type, color }: ISocialButton = Astro.props as ISocialButton;
---

<a href={ link } target='_blank' rel='noopener noreferrer' class={ styles.socialButton }>
	<i class=`bi bi-${type}`></i>
</a>

<style define:vars={{ color }}>
	a {
		color: var(--color);
	}
</style>
