@import "../../styles/globals.module.scss";

a {
	width: $spacing-48;
	height: $spacing-48;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	border-radius: $border-radius-8;
	
	transition: .3s ease all;

	i {
		font-size: $spacing-24;
	}
}
