@import './typography.module';

html,
body {
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
	font-family: $font-family-roboto;
	font-style: normal;
}

*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
