// Font Weights
$font-weight-bold: 700;
$font-weight-semibold: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

// Font Families
$font-family-roboto: 'Roboto', sans-serif;

@font-face {
	font-family: 'Roboto';
	src: url('/public/fonts/roboto/Roboto-Thin.ttf');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/public/fonts/roboto/Roboto-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/public/fonts/roboto/Roboto-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/public/fonts/roboto/Roboto-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/public/fonts/roboto/Roboto-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/public/fonts/roboto/Roboto-Black.ttf');
	font-weight: 900;
	font-style: normal;
}

// Font Sizes
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-32: 32px;
$font-size-44: 44px;

// Line Height
$line-height-xs: 1;
$line-height-s: 1.25;
$line-height-base: 1.35;
$line-height-m: 1.45;
