@import "../../styles/globals.module.scss";

h1 {
	color: $blue-jeans-200;
	font-size: $spacing-104;
	font-weight: $font-weight-bold;
	margin-bottom: -$spacing-24;
}

h3 {
	color: $carbon-600;
	font-size: $font-size-44;
}
