---
import type { ITittle } from '../../interfaces';
import './title.module.scss';

const { title, color }: ITittle = Astro.props as ITittle;
---

<h1>{ title }</h1>

<style define:vars={{ color }}>
	h1 {
		color: var(--color);
	}
</style>
