---
import templateData from '../../../template.config';
import './title.module.scss';

interface TittleProps {
	title: string;
}

const { title }: TittleProps = Astro.props as TittleProps;
const templateDataColor: string = templateData.pageColor;
---

<h1>{ title }</h1>

<style define:vars={{ templateDataColor }}>
	h1 {
		color: var(--templateDataColor);
	}
</style>
