---
import Layout from '../layouts/Layout.astro';
import { SocialButtonList, Title } from '../components/index.astro';
import pageData from '../../template.config';
---

<Layout title='Template'>
	<main>
		<Title title={ pageData.title } subTitle={ pageData.subTitle }/>
		<SocialButtonList buttonList={ pageData.buttonList } />
	</main>
</Layout>
