---
import Layout from '../layouts/Layout.astro';
import {
	Description,
	Image,
	SocialMediaList,
	Title
} from '../components/index.astro';
import { templateData } from '../../template.config';
import styles from './home.module.scss';

const { title, languague, colors, imageUrl, socialMedia, siteUrl } = templateData;
const { principalColor, background, socialColor, soonColor } = colors;
---

<Layout title={ title } languague={ languague } background={ background } favicon={ imageUrl } site={ siteUrl } >
	<main class={ styles.main }>
		<section class={ styles.main__header }>
			<Title title={ title } color={ principalColor }/>

			<div class={ styles.main__header__logo }>
				<Image
					src={ imageUrl }
					alt={ (languague === 'ES' ? `Imagen de ${title}` : `Image of ${title}`) }
				/>

				<div class={ styles.main__header__logo__social }>
					<SocialMediaList socialMedia={ socialMedia } color={ socialColor }/>
				</div>
			</div>
		</section>

		<Description languague={ languague } color={ soonColor } />
	</main>
</Layout>
