---
import Layout from '../layouts/Layout.astro';
import { SocialButtonList, Title } from '../components/index.astro';
import { type PageData } from '../interfaces';
import { pageData } from '../utils';
---

<Layout title='Template'>
	{pageData.map(( data: PageData ) => {
		const { title, subTitle, buttonList }: PageData = data;
		
		return(
			<main>
				<Title title={ title } subTitle={ subTitle }/>
				<SocialButtonList buttonList={ buttonList } />	
			</main>
		); 
	})}
</Layout>
