---
import './subtitle.module.scss';

interface SubtitleProps {
	marginLeft?: string;
}

const { marginLeft }: SubtitleProps = Astro.props as SubtitleProps;

---

<h2>coming soon</h2>

<style define:vars={{ marginLeft }}>
	h2 {
		margin-left: var(--marginLeft);
	}
</style>
